.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_book
_main.*
libs
^figures/*
_bookdown_files
figures/introduction-cricket-plot-1.svg
figures/introduction-descr-examples-1.pdf
figures/introduction-interaction-plots-1.svg
figures/introduction-modeling-process-1.pdf
figures/tidyverse-cricket-plot-1.pdf
figures/tidyverse-cricket-plot-1.svg
figures/tidyverse-interaction-plots-1.pdf
figures/tidyverse-interaction-plots-1.svg
extras/iowa_highway.shx
extras/iowa_highway.shp
files_for_print*
tmwr-to-ch9*
extras/iowa_highway.zip
extras/iowa_highway/iowa_highway.shp
